* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

$mainColor: #3f51b5;
$accentColor: #4caf50;
$box-shadow: 0px 1px 5px -1px transparentize(#000, 0.4);

body {
  background: #333;

  font-family: "Roboto", sans-serif;
}

.App-header {
  background: $mainColor;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em 10vw;
  box-shadow: $box-shadow;
  z-index: 9999;
  position: relative;
  font-size: 6em;
  font-weight: 100;
  svg {
    margin-right: 0.25em;
    font-size: 1em;
  }
  b {
    margin: 0;
    font-weight: 900;
    font-style: italic;
  }
  span {
    font-size: 0.5em;
  }
  .logo {
    width: auto;
    height: 1em;
  }
}

nav {
  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      color: #fff;
      padding: 0.25em;
    }
  }
}

#contentArea {
  min-height: 60vh;
  width: 100%;
  padding: 1em 10vw;
  transition: all 300ms;
}

footer {
  width: 100%;
  background: #333;
  color: #fff;
  padding: 1em 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro {
  padding: 2vw 0;
  background: darken($mainColor, 10);
}

.quote {
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  color: #fff;
  width: 80%;
  margin: 0 auto;

  b {
    font-weight: 900;
  }
}

.cite {
  text-align: right;
  font-size: 1.25em;
  font-weight: 100;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 0 5vw;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap:20px;
  grid-column-gap:20px;
  align-items: start;
  margin-bottom: 2rem;
}

.card {
  width: 100%;
  box-shadow: $box-shadow;
  margin: 0.5em;
  padding: 0.5em;
  flex: 1 0 auto;
  background: #fff;
  min-height: 0;  /* NEW */
  min-width: 0;   
  border-radius: 8px;
  &.open-false {
    transition: all 150ms;
    cursor: pointer;

    &:hover {
      transform: scale(1.01);
    }
  }

  img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    object-position: center center;
    border-radius: 8px 8px 0 0;
  }
}

a {
  color: $mainColor;
  text-decoration: none;
  transition: all 200ms;

  &:hover {
    color: darken($mainColor, 10);
  }
}

.product-title {
  text-align: center;
  font-size: 2em;

  a {
    color: $mainColor;
  }
}

.product-meta {
  font-size: 1.5em;
  width: 50%;
  margin: 0 auto;
}

.heading {
  color: #fff;
  text-align: center;
  font-size: 5em;
  position: relative;
  margin: 3rem auto;
  &:before,
  &:after {
    content: "";
    height: 3px;
    width: 25%;
    background: #fff;
    display: block;
    position: absolute;
    top: 50%;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

.App-banners {
  .banner {
    padding: 3em 0;
    text-align: center;
    color: #fff;
    background: darken($mainColor, 10);
    box-shadow: $box-shadow;

    &:nth-of-type(2) {
      background: darken($accentColor, 20);
      padding: 1.5em 0;
    }
  }

  h1 {
    font-size: 2em;
  }
}

@keyframes modalFade {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal {
  animation-name: modalFade;
  animation-duration: 0.3s;

  .modal--header {
    background: $mainColor;
    color: #fff;
    padding: 0 10vw;

    a {
      color: #fff;
      font-size: 2em;

      &:first-of-type {
        margin-left: auto;
      }
    }

    button {
      font-size: 2em;
      background: none;
      color: #fff;
      border: none;
      padding: 0;
    }

    a,
    button {
      cursor: pointer;
      transition: all 300ms;
      &:hover {
        color: transparentize($color: #fff, $amount: 0.4);
      }
    }
  }
}

footer {
  background: #222;
  .copyright{
    text-align: center;
    margin: 2rem auto;
    a{
      color: #fff;
      font-weight: 700;
      text-decoration: none;
    }
  }
}
